<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.ssm.dao.DogMapper">
  <resultMap id="BaseResultMap" type="com.bishe.ssm.bean.Dog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="dogname" jdbcType="VARCHAR" property="dogname" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="comefrom" jdbcType="VARCHAR" property="comefrom" />
    <result column="tozootime" jdbcType="DATE" property="tozootime" />
    <result column="dogdescribe" jdbcType="VARCHAR" property="dogdescribe" />
    <result column="classes" jdbcType="VARCHAR" property="classes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sex, dogname, age, comefrom, DATE_FORMAT(tozootime,'%Y-%m-%d') tozootime, dogdescribe,classes
  </sql>
  <select id="selectByExample" parameterType="com.bishe.ssm.bean.DogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bishe.ssm.bean.DogExample">
    delete from dog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bishe.ssm.bean.Dog">
    insert into dog (id, sex, dogname, 
      age, comefrom, tozootime, 
      dogdescribe,classes)
    values (#{id,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{dogname,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{comefrom,jdbcType=VARCHAR}, #{tozootime,jdbcType=VARCHAR},
      #{dogdescribe,jdbcType=VARCHAR},"犬科")
  </insert>
  <insert id="insertSelective" parameterType="com.bishe.ssm.bean.Dog">
        insert into dog(id,sex,dogname,age,comefrom,tozootime,dogdescribe,classes)
            values(#{id},#{sex},#{dogname},#{age},#{comefrom},#{tozootime},#{dogdescribe},"犬科");
    </insert>
  <select id="countByExample" parameterType="com.bishe.ssm.bean.DogExample" resultType="java.lang.Long">
    select count(*) from dog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dog
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.dogname != null">
        dogname = #{record.dogname,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null">
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.comefrom != null">
        comefrom = #{record.comefrom,jdbcType=VARCHAR},
      </if>
      <if test="record.tozootime != null">
        tozootime = #{record.tozootime,jdbcType=DATE},
      </if>
      <if test="record.dogdescribe != null">
        dogdescribe = #{record.dogdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dog
    set id = #{record.id,jdbcType=INTEGER},
      sex = #{record.sex,jdbcType=VARCHAR},
      dogname = #{record.dogname,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      comefrom = #{record.comefrom,jdbcType=VARCHAR},
      tozootime = #{record.tozootime,jdbcType=DATE},
      dogdescribe = #{record.dogdescribe,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bishe.ssm.bean.Dog">
    update dog
    <set>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="dogname != null">
        dogname = #{dogname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="comefrom != null">
        comefrom = #{comefrom,jdbcType=VARCHAR},
      </if>
      <if test="tozootime != null">
        tozootime = #{tozootime,jdbcType=DATE},
      </if>
      <if test="dogdescribe != null">
        dogdescribe = #{dogdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bishe.ssm.bean.Dog">
    update dog
    set sex = #{sex,jdbcType=VARCHAR},
      dogname = #{dogname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      comefrom = #{comefrom,jdbcType=VARCHAR},
      tozootime = #{tozootime,jdbcType=VARCHAR},
      dogdescribe = #{dogdescribe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id = "getByName" parameterType="String" resultMap="BaseResultMap">
    select id,sex,dogname,age,comefrom,tozootime,dogdescribe
    from dog
    where dogname like  #{dogname}
  </select>
  <select id = "getAll" parameterType="String" resultMap="BaseResultMap">
    select id,sex,dogname,age,comefrom,tozootime,dogdescribe
    from dog
  </select>

</mapper>